<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">
	<mapping>
		<class-a>com.leanfix.data.model.Source</class-a>
		<class-b>com.leanfix.data.model.LabRecord</class-b>
		<field>
			<a>internalID</a>
			<b>internalID</b>
		</field>
		<field>
			<a>diagnosis</a>
			<b>diagnosis</b>
		</field>
		<field>
			<a>docName</a>
			<b>docName</b>
		</field>
		<field>
			<a>department</a>
			<b>department</b>
		</field>
	</mapping>
</mappings>