<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">
	<mapping>
		<class-a>com.leanfix.data.model.Source</class-a>
		<class-b>com.leanfix.data.model.PatientRecord</class-b>
		<field>
			<a>internalID</a>
			<b>internalID</b>
		</field>
		<field>
			<a>name</a>
			<b>name</b>
		</field>
		<field>
			<a>alias</a>
			<b>alias</b>
		</field>
		<field>
			<a>dob</a>
			<b>dob</b>
		</field>
		<field>
			<a>sex</a>
			<b>sex</b>
		</field>
		<field>
			<a>race</a>
			<b>race</b>
		</field>
		<field>
			<a>address</a>
			<b>address</b>
		</field>
		<field>
			<a>phoneNumber</a>
			<b>phoneNumber</b>
		</field>
		<field>
			<a>ssn</a>
			<b>ssn</b>
		</field>
		<field>
			<a>emergencyNumber</a>
			<b>emergencyNumber</b>
		</field>
	</mapping>
</mappings>